body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#photoGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Atur sesuai jumlah kolom grid yang diinginkan */
    gap: 10px;
}
